<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title> SignUp</title>
    
</head>

<body>
    <div class="form-area">
        <h3>Admin Register form</h3>
        <form action="">
            <div>First Name</div>
            <input type="text" name="" id="" placeholder="Enter your First Name">
            <div>Last Name</div>
            <input type="text" name="" id="" placeholder="Enter your Last Name">
            <div>Email</div>
            <input type="text" name="" id="" placeholder="Enter your Email">
            <div>Phone</div>
            <input type="text" name="" id="" placeholder="Enter your Phone number">
            <div>Gender</div>
            <input type="radio" name="gender" value="male">Male
                <input type="radio" name="gender" value="female">Female
            <div>Password</div>
            <input type="text" name="" id="" placeholder="Enter your Password">
            <div>Confirm Password</div>
            <input type="text" name="" id="" placeholder="Enter your Password again"><br><br>
            <div><input type="submit" value="Register">
            <a href="#">Already have a account?</a></div>
        </form>
    </div>
</body>
</html>
